%p Hi #{@user}!  I hear you'd like to change your password.
%form{:action => "/changepw", :method => "post"}
  %table
    %tr
      %td{:align => "right"} current password: 
      %td 
        %input{:type => "password", :name => "current", :length => 15, :size => 15}
    %tr
      %td{:align => "right"} new password:
      %td
        %input{:type => "password", :name => "new", :length => 15, :size => 15}
    %tr
      %td{:align => "right"} new password (one more time):
      %td
        %input{:type => "password", :name => "new_sanity", :length => 15, :size => 15}
    %tr
      %td{:colspan => "2", :align => "center"}
        %input{:type => "submit", :value => "Change it!"}
  
  

